In [7]:
import pandas as pd
import numpy as np

In [8]:

from google.colab import files
target = files.upload()

Saving aug_test.csv to aug_test.csv
Saving aug_test1.csv to aug_test1.csv
Saving aug_train.csv to aug_train.csv
Saving jobchange_test_target_values.npy to jobchange_test_target_values.npy

In [9]:
# load the target data for the test set, provided as a numpy array

target =  np.load('jobchange_test_target_values.npy')

In [10]:
len(target)

2129

In [11]:
# load the test set, provided as a CSV file

testdata = pd.read_csv('aug_test.csv',sep=',')

In [12]:
len(testdata)

2129

In [13]:
testdata[0:5]  # test data without the target column

   enrollee_id      city  ...  last_new_job training_hours
0        32403   city_41  ...             1             21
1         9858  city_103  ...             1             98
2        31806   city_21  ...         never             15
3        27385   city_13  ...             1             39
4        27724  city_103  ...            >4             72

[5 rows x 13 columns]

In [14]:
target[:5]   #   target array

array([1., 0., 1., 0., 1.])

In [15]:
testdata['target'] = target    #   add the column with targets to testdata

In [16]:
testdata[:5]  #  test data with the target column

   enrollee_id      city  ...  training_hours target
0        32403   city_41  ...              21    1.0
1         9858  city_103  ...              98    0.0
2        31806   city_21  ...              15    1.0
3        27385   city_13  ...              39    0.0
4        27724  city_103  ...              72    1.0

[5 rows x 14 columns]

In [17]:
# load the training set, provided as a CSV file

training = pd.read_csv('aug_train.csv',sep=',')

In [18]:
len(training)

19158

In [19]:
training[:5]

   enrollee_id      city  ...  training_hours target
0         8949  city_103  ...              36    1.0
1        29725   city_40  ...              47    0.0
2        11561   city_21  ...              83    0.0
3        33241  city_115  ...              52    1.0
4          666  city_162  ...               8    0.0

[5 rows x 14 columns]

In [20]:
# save the test set with target column included

testdata.to_csv ('aug_test1.csv', sep = ',')

In [21]:
import os
from os import listdir

for f in os.listdir('.'):
  if os.path.isfile(f):
    print(f)

aug_test.csv
aug_train.csv
aug_test1.csv
jobchange_test_target_values.npy

In [23]:
training.isnull().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    4508
relevent_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
target                       0
dtype: int64

In [26]:
training_wo_nullgender = training.gender.dropna()

In [28]:
training_wo_nullgender.isnull().sum()

0